/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-auto-rows:100px 100px;
    grid-template-columns: 321.328px 321.336px 321.336px;
	grid-gap:10px 10px;
}
.grid-container .grid-item{
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	text-align:center;
}